@charset "utf-8";
$chatgptbackoffice-container-background: var(--bo-base-background);
$chatgptbackoffice-container-font-family: var(--bo-font-family);
$chatgptbackoffice-container-font-size: $font-size__base;
$chatgptbackoffice-label-text-color: var(--bo-text-color);
